﻿@using WebMatrix.Data
<!DOCTYPE html>

@{
    //Layout = "~/_Layout.cshtml";
    Validation.RequireField("user", "you must enter a username!");
    Validation.RequireField("pass", "you must enter a password!");

    var user = "";
    var pass = "";

    string incorrectLoginMessage = "";

    bool loggedIn = (System.Web.HttpContext.Current.User != null) && System.Web.HttpContext.Current.User.Identity.IsAuthenticated;

    string currentUser = "Not logged in.";
    if (loggedIn)
    {
        currentUser =  "Logged in as " + HttpContext.Current.User.Identity.Name;
    }

    if (IsPost)
    {
        if (Validation.IsValid())
        {
            user = Request.Form["user"];
            pass = Request.Form["pass"];

            var db = Database.Open("Users");

            if (Membership.ValidateUser(user, pass))
            {
                FormsAuthentication.RedirectFromLoginPage(user, false);
                Response.Redirect("/Default.cshtml");

                //WebSecurity.Login(user, pass, false);
            }
            else
            {
                incorrectLoginMessage = "Login failed. Please check your user name and password and try again.";
            }
            //var insertCommand =
            //    "INSERT INTO Movies (Title, Genre, Year) Values(@0, @1, @2)";
            //db.Execute(insertCommand, title, genre, year);
            //Response.Redirect("~/Movies");
        }
    }
}

<html>
    <head>
        <title>login</title>
    </head>
<body>
    <p>
        @currentUser
        @if (loggedIn)
        {
        <p>
            <a href="Logout.cshtml">Logout</a>
        </p>
        }

        </p>
<form method="post">
    <fieldset>
        <legend>Login</legend>

        <p>
            @incorrectLoginMessage
        </p>
        <p>
            <label for="title">username:</label>
            <input type="text" name="user" value="@Request.Form["user"]"/>
            @Html.ValidationMessage("user")
        </p>

        <p>
            <label for="genre">password:</label>
            <input type="password" name="pass" value="@Request.Form["pass"]"/>
            @Html.ValidationMessage("pass")
        </p>

        <p><input type="submit" name="buttonSubmit" value="Login"/>
        </p>

    </fieldset>
</form>
<a href="Register.cshtml">Don't have a account? register here</a>
</body>
</html>
