﻿@using System.Diagnostics
@using WebMatrix.Data
@using WebMatrix.WebData
<!DOCTYPE html>


@{
    //Layout = "~/_Layout.cshtml";
    Validation.RequireField("user", "you must enter a username!");
    Validation.RequireField("pass", "you must enter a password!");
    Validation.RequireField("cpass", "you must enter a password!");

    var user = "";
    var pass = "";
    var cpass = "";

    string UserAlreadyExistsMessage = "This username is unavailable, please try again.";
    bool test = false;

    if (IsPost)
    {
        if (Validation.IsValid())
        {
            user = Request.Form["user"];
            pass = Request.Form["pass"];
            cpass = Request.Form["cpass"];

            if (!WebSecurity.UserExists(user))
            {
                var db = Database.Open("Users");
                db.Execute("INSERT INTO UserProfile (Email) VALUES (@0)", user); 
                var token = WebSecurity.CreateAccount(user, pass, false);
                test = false;
            
            Debug.WriteLine("user: "+ user + " pass: "+ pass);
            }
            else
            {
                //username already exists yadayada
                test = true;
            }
            
            
            

            //db.Execute(insertCommand, title, genre, year);
            //Response.Redirect("~/Movies");
        }
    }
}

<html>
<head>
    <title>Register</title>
</head>
<body>
    <html>
    <head>
        <title>Register</title>
    </head>
    <body>
        <form method="post">
            <fieldset>
                <legend>Register</legend>
                @if (test)
                {
                    <p>
                        @UserAlreadyExistsMessage
                    </p>
                }
                <p>
                    <label for="title">username:</label>
                    <input type="text" name="user" value="@Request.Form["user"]" />
                    @Html.ValidationMessage("user")
                </p>

                <p>
                    <label for="genre">password:</label>
                    <input type="password" name="pass" value="@Request.Form["pass"]" />
                    @Html.ValidationMessage("pass")
                </p>

                <p>
                    <label for="genre">confirm password:</label>
                    <input type="password" name="cpass" value="@Request.Form["cpass"]" />
                    @Html.ValidationMessage("cpass")
                </p>

                <p>
                    <input type="submit" name="buttonSubmit" value="Register" />
                </p>
            </fieldset>
        </form>
        <a href="Default.cshtml">Login</a>
    </body>
</html>

</body>
</html>
